# Skills challenge \#4
Below are a series of questions. Use the loaded data to answer the questions. You will almost certainly need to import more packages (`pandas`, `numpy`, etc.) to complete these. You are welcome to use any source except for your classmates. So Google away!

You will be graded on both the **correctness** and **cleanliness** of your work. So don't submit poorly written code or your grade will reflect that. Use Markdown describing what you have done. If you get stuck, move on to another part. Most questions don't rely on the answer to earlier questions.

### Imports

In [116]:
import pandas as pd

### Data loading

In [83]:
df = pd.read_csv('../../data/hotel_bookings.csv')

In [88]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

### Data description

This data is a collection of hotel bookings The columns we are interested in are:
- **is_canceled** - Value indicating if the booking was canceled (1) or not (0)
- **lead_time** - How many days before the stay the booking was created (i.e. how early they booked their stay)
- **arrival_date_year** - Year of arrival date
- **arrival_date_month** - Month of arrival date
- **arrival_date_week_number** Week number of year for arrival date
- **arrival_date_day_of_month** - Day of arrival date
- **stays_in_weekend_nights** - Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
- **stays_in_week_nights** - Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel
- **adults** - Number of adults
- **children** - Number of children
- **babies** - Number of babies
- **is_repeated_guest** - Value indicating if the booking name was from a repeated guest (1) or not (0)
- **previous_cancellations** - Number of previous bookings that were cancelled by the customer prior to the current booking
- **previous_bookings_not_canceled** - Number of previous bookings not cancelled by the customer prior to the current booking

## Tasks

### Data cleaning
**DC1:** Drop all columns except those listed above. Save this back as the variable `df`.

**DC2:** For each column, print how many `None` or `NaN` values are in the column, along with what percentage of the rows are missing. Round the percentage to two decimal places. Your output should look like:

```
col1_name: 20 (0.05%) missing values 
col2_name: 150 (1.56%) missing values 
```

**DC3:** Drop all rows with any missing values.

**DC4:** Make a new column `guests` which is the total number of people staying, so `adults + children + babies`.

**DC5:** Make a new column `arival_date_month_number` which is the month but as a number. So January=1, February=2, etc.

**DC6:** Make a new column `arrival_date` which is a Python date showing their arrival date.

### Data exporation

**DE1:** Compute the percentage of repeat guests (`is_repeated_guest==True`) that have cancelled (`is_canceled==1`) and have not cancelled (`is_canceled==0`). Do it again for non-repeat guests. Summarize what you see in a Markdown cell.

**DE2:** Do families with children (so `children > 0` or `babies > 0`) tend to stay more on weekday nights or weekend nights? Also, divide the number of weekday nights by five to see the average number of nights per weekday. Divide the weekend nights by 2 to see the average number of stays per weekend night. Which is greater?

### Linear regression

**LR1:** Create a linear regression model to predict the lead time, based on the week of the year (`arrival_date_week_number`) and the number of guests. Use 70% of the data as the training set, and train your model only on this training set. Print out the coefficients and y-intercept of the regression line.

**LR2:** Make a scatterplot comparing the actual and predicted lead times from your regression model. Use your test set to do this, not your training set. Also, show the $R^2$ value. Finally, label the x and y axes and give your graph a title.

**LR3:** Investigate the data and explain why this does such a terrible job of predicting the lead time. What features of the data make this happen?

**LR4:** Create a new column `previous_bookings` which is `previous_bookings_not_canceled` + `previous_cancellations`. Use this new column to predict the `lead_time`. Again, use 30% of the data as the test set, and make a scatterplot showing your results. Write up a paragraph or so describing what you see.