# Skills challenge \#11
Below are a series of questions. Use the loaded data to answer the questions. You will almost certainly need to import more packages (`pandas`, `numpy`, etc.) to complete these. You are welcome to use any source except for your classmates. So Google away!

You will be graded on both the **correctness** and **cleanliness** of your work. So don't submit poorly written code or your grade will reflect that. Use Markdown describing what you have done. If you get stuck, move on to another part. Most questions don't rely on the answer to earlier questions.

### Imports

In [1]:
import pandas as pd

import numpy as np
from matplotlib import pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import plot_confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

### Data loading

In [2]:
df = pd.read_csv('../data/flights_jan_2019.csv')

In [3]:
df.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN

### Data description

This data is from all flights taken in January 2019.

## Tasks

### Memory usage
**MU1:** Show the amount of memory used by Pandas for each column of this dataframe, as well as the total usage. You should show it in MB.

**MU2:** Determine the most efficient data type possible for each column. Then, load the data the again using `pd.read_csv(...)` and specify the data type for every column using the `dtype` parameter. Show what the total memory usage is for this new dataframe.

**MU3:** Write a `for` loop to load the data 1000 rows at a time. From each row, randomly `sample` 100 rows and set those aside. At the end, create a DataFrame from the rows you sampled. Make sure at each step you are deleting the original data. A rough outline for your `for` loop is shown below.

In [ ]:
for i in range(num_times_to_loop):
    # Load the first 1000 rows (then the second 1000, then the third 1000, and so forth)
    # Sample 100 rows and set them aside
    # Delete the DataFrame of 1000 rows you just loaded
    
# Make the samples of 100 rows into one DataFrame.

### Timing computations

**TC1:** Suppose you wanted to make a new column `is_long` which is 1 if the flight is 500km or longer (the `DISTANCE` column), and 0 if it is less than 500km. There are (at least) two different ways you can do this:

1. Write a function to do it, then use `df['is_long'] = df['DISTANCE'].apply(my_function)`
2. Write a `for` loop which goes through each row (sample code below)

Finish the sample code for each of these. Print out how long each one takes.

In [ ]:
# Approach #1

# Start the timer

def is_long_fcn(x):
    # Your function goes here.
    
df['is_long'] = # Your work goes here

# End the timer

# Print out the total time

In [ ]:
# Approach #2

# Start the timer

n_rows = # Find the number of rows

is_long = []
for i in range(n_rows):
    is_it_long = # Code that returns 1 if it's long and 0 otherwise
    is_long.append(is_it_long)

df['is_long'] = is_long

# End the timer

# Print out the total time

**TC2:** Especially for short running operations, if you re-run it multiple times you can get different amounts of processing time. Write a `for` loop which takes the code inside of it and runs it 10 times, records the computation time for each loop, and then at the end prints out the average computation time. Sample code is provided below. Do this for each of the two approaches in **TC1**.

In [ ]:
for _ in range(10):
    # Computations go here
    # Record the time it took

# Print out the average time

### Warm start

**WS1:** Train an XGBRegressor with `n_estimators=5` to predict `DISTANCE` using any two (or more) columns you want. Do so by loading 1000 rows at a time, training the model, deleting the loaded data, then loading the next 1000, and repeating. Be sure to specify `warm_start=True` when instantiating your model. You *do not* need to create train/test sets or evaluate your model. Time how long the total training time is and print it out.

### Bonus

**B1:** Write a function which takes in the following parameters:

- Filename of the CSV file to read. So in the example data above it would be `'flights_jan_2019.csv'`
- Size of each chunk (how many rows to read at once)
- Number/percentage of rows to sample from each chunk
- (Optional) Test set size as a percentage. If this is not supplied, then there should be no test set 
- (Optional) Maximum number of chunks to go through. If not supplied, go through the entire CSV file

The function should return the sampled DataFrame. This is basically what you did above (and what we did in the class notebooks), but written in one nice function. Note that by "Optional" I mean that it is optional for the *user* to supply it, *not* that it's optional for you to put it in the function. A brief outline of the function is written below.

In [ ]:
def sample_df(filename, chunk_size, sample_size, test_size=None, max_chunks=None):
    # Your work goes here