# Skills challenge \#7
Below are a series of questions. Use the loaded data to answer the questions. You will almost certainly need to import more packages (`pandas`, `numpy`, etc.) to complete these. You are welcome to use any source except for your classmates. So Google away!

You will be graded on both the **correctness** and **cleanliness** of your work. So don't submit poorly written code or your grade will reflect that. Use Markdown describing what you have done. If you get stuck, move on to another part. Most questions don't rely on the answer to earlier questions.

### Imports

In [28]:
import pandas as pd

### Data loading

In [2]:
df = pd.read_csv('../../data/hotel_bookings.csv')

In [3]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

### Data description

This data is a collection of hotel bookings, used previously in the week 4 challenge. The columns we are interested in are:
- **is_canceled** - Value indicating if the booking was canceled (1) or not (0)
- **lead_time** - How many days before the stay the booking was created (i.e. how early they booked their stay)
- **arrival_date_year** - Year of arrival date
- **arrival_date_month** - Month of arrival date
- **arrival_date_week_number** Week number of year for arrival date
- **arrival_date_day_of_month** - Day of arrival date
- **stays_in_weekend_nights** - Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
- **stays_in_week_nights** - Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel
- **adults** - Number of adults
- **children** - Number of children
- **babies** - Number of babies
- **is_repeated_guest** - Value indicating if the booking name was from a repeated guest (1) or not (0)
- **previous_cancellations** - Number of previous bookings that were cancelled by the customer prior to the current booking
- **previous_bookings_not_canceled** - Number of previous bookings not cancelled by the customer prior to the current booking

## Tasks

### Data cleaning
**DC1:** Drop all columns except those listed above. Also drop any rows with any missing values. Save the result back to `df`.

**DC2:** Create a new column `guests` which is `adults+children+babies`.

**DC3:** Label encode all of the categorical columns if they are not already integers.

### Data exploration

**DE1:** Is the data imbalanced for `is_canceled`?

### Model building

**MB1:** Split the data into training and testing sets. Your test set should have 20% of the data, and the training set should have the remaining 80%. Split the training and testing sets into X and y.

**MB2:** Train a nearest neighbors model using 5 neighbors and all the columns except `is_canceled` to predict the column `is_canceled`. Use the Hamming distance function. Be sure to train on the training set only.

## Model evaluation

**ME1:** Print a classification report to show the results. Be sure to make your predictions/do your evaluations on the test set only. Create a Markdown cell discussing what you found.

**ME2:** Create a nearest neighbors model with a different value for `n_neighbors`. Create a Markdown cell discussing which value seems to be best, this one or the previous value of 5.

**ME3:** Create nearest neighbors models using the [Canberra distance metric](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html#sklearn.neighbors.DistanceMetric) and whichever number of neighbors you determined was best. Print another classification report.

**ME4:** Use PCA to show a 2-dimensional representation of *all* of the data (not just the test or training set). Color the points according to whether or not they canceled. Create a Markdown cell describing what you see from the PCA plot.

### Bonus

**B1:** Nearest neighbors can also be used for regression. Google how to do this in sklearn, and create a nearest neighbors regressor to predict the `lead_time` based on all columns except `lead_time`. Create a scatterplot comparing your predictions and the ground truth, along with the score ($R^2$ value).