# Skills challenge \#3
Below are a series of questions. Use the loaded data to answer the questions. You will almost certainly need to import more packages (`matplotlib`, `numpy`, etc.) to complete these. You are welcome to use any source except for your classmates. So Google away!

You will be graded on both the **correctness** and **cleanliness** of your work. So don't submit poorly written code or your grade will reflect that. Use Markdown describing what you have done. If you get stuck, move on to another part. Most questions don't rely on the answer to earlier questions.

### Imports

In [106]:
import pandas as pd

### Data loading

In [4]:
sales_df = pd.read_csv('../../data/retail_sales/sales.csv')
store_features_df = pd.read_csv('../../data/retail_sales/store_features.csv')
stores_df = pd.read_csv('../../data/retail_sales/stores.csv')

In [5]:
sales_df.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-05-02      24924.50      False
1      1     1  2010-12-02      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-05-03      21827.90      False

In [6]:
store_features_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [7]:
stores_df.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

### Data description

In the `data/retail_sales` folder are three datasets describing sales as various retail stores.

`sales.csv` description:
- **Store:** Store number
- **Dept:** Department number within that store
- **Date:** Date
- **Weekly_Sales:** Sales for the given department in the given store for the given week
- **IsHoliday:** Whether the week is a special holiday week

`store_features.csv` description:
- **Store:** Store number
- **Date:** Date
- **Temperature:** Average temperature in the region
- **Fuel_Price:** Cost of fuel in the region
- **MarkDown1-5:** Anonymized data related to promotional markdowns.
- **CPI:** Consumer price index. A number which measures the (weighted) average price of any good in the country.
- **Unemployment:** Unemployment rate
- **IsHoliday:** Whether the week is a special holiday week

`stores.csv` description:
- **Store:** Store number
- **Type:** Type of store (the actual value is meaningless)
- **Size:** Size of the store (the actual value is meaningless)

## Tasks

### Data cleaning
**DC1:** For all three datasets, print how many `None` or `NaN` values are in the column, along with what percentage of the rows are missing. Round the percentage to two decimal places. Your output should look like:

```
col1_name: 20 (0.05%) missing values 
col2_name: 150 (1.56%) missing values 
```

**DC2:** For the "Markdown1-5" columns, only drop the column if at least 90% of the values are missing, otherwise keep it. Change the missing values in these co|lumns to 0 (zero).

**DC3:** Change all column names to be lower case. Change "IsHoliday" to be "is_holiday".

**DC4:** Change the date column in both `sales_df` and `store_features_df` to be a `datetime` object. Find the minimum and maximum date in the data.

### Data joining

**DJ1:** Create one new dataset `joined_df`. This dataset should be all three joined together using the "Store" column. Do a left join with `sales_df` so that all sales are kept. Therefore, your new dataframe should have the exact same number of rows as `sales_df`. Drop any duplicate columns and rename columns so that there are no `_x` or `_y`.

**DJ2:** Drop any duplicate columns and rename columns if names got changed.

**DJ3:** Create a new DataFrame `store1_sales_df` which has the sales by department for store 1. So it should look something like:

| dept | dept_sales |
|------|-------------|
|   1  |     1234565 |
|   2  |      987655 |
|   3  |    67898758 |

Then, make a bar chart showing the sales by deparment.

### Data exporation

**DE1:** Compute the correlation coefficient for all continuous numerical columns in `joined_df`.

**DE2:** Write a function which makes a scatterplot for any continuous numerical column (x) against weekly_sales (y). Make the function give the graph and title and label the axes. So your function should look something like:
```
def plot_against_sales(df, col):
    # do something here to make a scatterplot with x=col and y='weekly_sales'
```

**DE3:** Compute the correlation coefficient between `size` to `weekly_sales`. Make the scatterplot comparing them, and write a paragraph or two explaning what we learn from this. Your explanation should be in-depth and be appropriate to present to your boss. Back up your conclusion with other data/graphs.

### Bonus questions

**B1:** Explore the data and form a hypothesis about what the "Type" column means. Show work below and argue your conclusion.