# Skills challenge \#6
Below are a series of questions. Use the loaded data to answer the questions. You will almost certainly need to import more packages (`pandas`, `numpy`, etc.) to complete these. You are welcome to use any source except for your classmates. So Google away!

You will be graded on both the **correctness** and **cleanliness** of your work. So don't submit poorly written code or your grade will reflect that. Use Markdown describing what you have done. If you get stuck, move on to another part. Most questions don't rely on the answer to earlier questions.

### Imports

In [43]:
import pandas as pd

### Data loading

In [15]:
df = pd.read_csv('../../data/titanic.csv')

In [16]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Data description

This is the Titanic data you have used previously. As a brief reminder:
- **PassengerId:** A unique ID assigned to each passenger
- **Survived:** 0 = Died, 1 = Survived
- **Pclass:** The "class" (first, second, third) the passenger was booked in
- **SibSp:** The number of siblings + spouse the passenger had on board
- **Parch:** The number of parents + children the passenger had on board
- **Ticket:** Their ticket number
- **Fare:** Their ticket price
- **Cabin:** The cabin they stayed in
- **Embarked:** The port from which they got onto the Titanic

## Tasks

### Data cleaning
**DC1:** Drop the `Name`, `Cabin`, `Ticket`, `Cabin` and `Embarked` columns. Save the result back to `df`.

**DC2:** For any missing `Age` values, fill in the median age.

### Data exploration

**DE1:** Is the data imbalanced for `Survived`?

### Model building

**MB1:** Split the data into training and testing sets. Your test set should have 30% of the data, and the training set should have the rest.

**MB2:** Train a logistic regression model using the columns `Age` and `Fare` to predict `Survived`. Be sure to train on the training set only.

**MB3:** Predict `Survived` on the test set. Create a `classification_report` showing the results.

**MB4:** Discuss the results of the classification report. Talk about what the numbers for precision, recall and f1-score tell us.

**MB4:** Undersample the data and train a new logistic regression classifier.

**MB5:** Oversample the data and train a new logistic regression classifier.

**MB6:** If your goal was to be able to predict which people survived the Titanic, which model would be best? Explain your answer.

### Bonus

**B1:** Read about a "confusion matrix" ([sklearn documentation](https://scikit-learn.org/stable/modules/model_evaluation.html#confusion-matrix), but use anything you find helpful). Then, plot the confusion matrix using [plot_confusion_matrix](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.plot_confusion_matrix.html#sklearn.metrics.plot_confusion_matrix) from sklearn for any of the models in this notebook (original data, oversampled or undersampled). Create a Markdown cell explaining what the confusion matrix shows us, and what conclusions we can draw in this case.